# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# IDE specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db